:root {
    --width : 10px 12px;
    --bg : black;
    --color : white;
    --radius: 15px;
    --bg-hover : grey;
    --color-hover : black;
    --time: 0.2s;
}

.btn {
    padding: var(--width);
    background-color: var(--bg);
    color: var(--color);
    border-radius: var(--radius);
    transition: var(--time);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--bg-hover);
    color: var(--color-hover);
}

.try {
    padding:  var(--width);
    background-color: var(--bg);
    border-radius: var(--radius);
    transition: var(--time);
    color: white;
    text-decoration: none;
}

.try:hover {
    background-color: var(--bg-hover);
    color: var(--color-hover);
}
